# Operating System files
.DS_Store
Thumbs.db

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
*.env
*.venv
*.pip

# Java
*.class
*.jar
*.war
*.ear
target/

# Ruby
*.gem
*.rbc
.bundle/
log/
tmp/

# JavaScript
/dist
/build
*.log

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Compiled files
*.exe
*.out
*.app
*.o
*.a
*.so

# Images
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff

# Logs
*.log

# Environment variables
.env

# .env files
.env.local
.env.*.local
